@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card__profile--information {
    font-size: 16px;
    color: hsl(0, 0%, 7%);
    margin-bottom: 15px;
    margin-top: 20px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    padding: 4px 12px;
    font-weight: 700;
    display: inline-block;
}

.card__profile--description {
    margin-bottom: 15px;
}

.card__profile--text-description {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container {
    padding: 20px;
}

.card__profile {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 15px;
    box-shadow: 12px 15px 0px rgb(0 0 0 / 100%);
    overflow: hidden;
    width: 400px;
}

.card__profile--image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}

.card__profile--author-name {
    font-size: 16px;
    color: hsl(213, 19%, 18%);
    font-weight: bold;
}

.card__profile--author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.card__profile--author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}